.container2 {
    height: 100%;
    width: 100%;
    background: linear-gradient(#fff 40%, #D3DCD7 95%, #fff);
    border: 1px solid;
    margin-top: 2vw;
}
.container2 h3 {
    color: #0D3D20;
}
.container2 .header-image {
    width: 100%;
    margin: auto;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid;
    margin-top: 100px;
    border-radius: 10px;
    background: url('/image/equipe-header.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}


.container2 .header-image h2 {
    color: #C38C2C;
    font-size: 45px;
    z-index: 2;
}
.container2 .image-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 20px;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.container2 .image {
    width: 40%;
    height: 130px;
    border: 1px solid;
    border-radius: 10px;
}
.container2 .image-texte {
    text-align: start;
}
.m{
    width: 60%;
}
.container2 .image-texte h3 {
    font-size: 22px;
    margin: 20px 0;
}
.container2 .image-texte p {
    font-size: 18px;
}
.container2 .titre {
    padding-left: 40px;
    font-size: 14px;
    color: #C38C2C;
}
.imagep {
    background-image: url('/image/image3 (2).jpg');
    background-size: cover;
    background-position: center;
}
.container2 .image1 .image-texte p {
    margin-bottom: 20px;
    padding-left: 10px;
    border-left: 2px solid #C38C2C;
}
.container2 .image1 .image {
    height: 170px;
}
.container2 .image2 .image {
    height: 27vw;
    width: 30%;
    background: url("/image/image-directrice-vrai.jpg");
    background-size: cover;
    background-position: top;
}
.container2 .image2 {
    margin-bottom: 100px;
}
.container2 .image2 p{
    border-left: 2px solid #C38C2C;
    padding-left: 1.5vw;
}
.container2 .equipe-container {
    width: 95%;
    margin: auto;
    text-align: start;
    margin-bottom: 80px;
}
.equipe-container p {
    width:80%;
    margin: 20px 0;
    font-size: 20px;
}
.equipe-container h2 {
    font-size: 26px;
}
.equipe-grid {

    display: grid;
    
    grid-template-columns: repeat(4, 1fr);
    margin: auto;
    gap: 20px;

}
.cont2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
width: 90%;
    margin: auto;
}
.cont2 .image-container{
    width: 100%;
}
/* ------------------------------------------------ */
/* Gradients & shadow */
/* ------------------------------------------------ */
:root {
  --purple-gradient: linear-gradient(to bottom right, #C90A6D, #FF48A0);
  --blue1-gradient: linear-gradient(to bottom right, #5E5AEC, #3F9EFC);
  --blue2-gradient: linear-gradient(to bottom right, #6452E9, #639FF9);
  --shadow: 0 13px 26px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.2);
}

/* ------------------------------------------------ */
/* Wrapper Styles */
/* ------------------------------------------------ */
.wrapper {
  width: 320px;
  min-height: 440px;
  background: #FDFEFF;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2);
  
}

/* PROFILE */
.wrapper .profile {
  margin-top: 2.2em;
  position: relative;
}

.wrapper .profile::after {
  width: 100%;
  height: 1px;
  content: '';
  display: block;
  margin-top: 1.3em;
  background: #E9EFF6;
}

.wrapper .profile .thumbnail {
  width: 175px;
  height: 175px;
  display: flex;
  margin: 0 auto 1.5em auto;
  border-radius: 100%;
  box-shadow: var(--shadow);
    object-fit: cover;
    object-position: top;
}

.wrapper .profile .name {
  color: #2D354A;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.wrapper .profile .title {
  color: #7C8097;
  font-size: 1em;
  font-weight: 300;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.7em;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  width: 100%;
}

.wrapper .profile .description {
  color: #080911;
  font-size: 17px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 1.3em;
  width: 100%;
}




@media (max-width: 1460px) {
    .equipe-container p {
        width: 100%;
    }
    .equipe-grid{
        grid-template-columns: repeat(3, 1fr);
    }
}

/* ✅ Responsive tablette */
@media (max-width: 1026px) {
     .cont2{

    grid-template-columns: repeat(1,1fr);
    grid-gap: 10px;
}
    .container2{
        margin-top: 15vw;
    }

    .container2 .header-image h2 {
        font-size: 35px !important;
    }
    .container2 .header-image {
        height: 180px;
    }
    .container2 .header-image h2 {
        font-size: 22px;
    }
    .container2 .header-image p {
        font-size: 16px;
        width: 70%;
    }
    .container2 .image-container {
        flex-direction: column;
        align-items: center;
    }
    .container2 .image,
    .container2 .image2 .image {
        width: 60%;
        height: 400px !important;
        background-position: top;

    }
    .container2 .image-texte {
        width: 90%;
    }
    .equipe-grid {
        grid-template-columns: repeat(2,1fr);
    }

}

/* ✅ Responsive mobile */
@media (max-width: 768px) {
    .container2{
        margin-top: 20vw;
    }
    .container2 .header-image {
        margin-top: 60px;
        height: 160px;
    }
    .container2 .header-image h2 {
        font-size: 30px;
    }
    .container2 .header-image p {
        font-size: 14px;
        width: 90%;
    }

    .container2 .image-texte {
        width: 100%;
    }
    .equipe-container p {
        width: 100%;
        font-size: 16px;
    }
    .equipe-container h2 {
        font-size: 20px;
    }
    .equipe-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    

}
@media (max-width: 490px){
    .container2{
        margin-top: 27vw;
    }
     .container2 .image2 .image{
         width: 100%;
        height: 150px;
     }
    .container2 .header-image{
        width: 100%;
    }
    .container2 .header-image h2{
        font-size: 25px !important;
    }
    .equipe-grid {
        grid-template-columns: 1fr;
        gap: 30px;
    }
}